
#everything {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 80%;
}




body {
    font-size: 40px;
    background-color: #000000;
}
@font-face { font-family: 'Nbp Informa FiveSix'; src: url('/NbpInformaFivesix-2dXW.ttf'); } 

header {
    display: flex;
    justify-content: center;
    padding: 2%;
}

header {
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 60%;
    width: 60%;
}

main h1 {
    font-size: 250%;
    margin: 0;
    color:white;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#img-folder {
    width: 3%;
}


header ul {
    display: flex;
    justify-content: center;
    margin-left: 12%;
}

nav {
    width: 100%;
}



* {
    font-family: 'Nbp Informa FiveSix';
}

a {
    color:white;

}

p {
    color:white;
}

footer {
    font-size: 50%;
}

.nav a:hover {
    color: blue;
}

header {
    width: 100%;
}

header nav {
    width: 100%;
    font-size: 80%;
}

.nav {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid white;

}

#vid {
    padding: 2%;
    overflow: hidden;
    z-index: 1;
}


.fade-in-video {
    animation: fadeIn 5s;
}


#items{
    padding: 2%;
    width: 80%;
}

#items a:hover {
    color: blue;
}

#ned-tweet {
    width: 50%;
    border-radius: 20px;
}
#title, #p, #pic {
    padding: 1.5%;
}

#logo {
    width: 10%;
}
/*header, main, footer{
border: 1px solid black;
}*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#links {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 200%;
    justify-content: space-between;
}
#ep1 {
    padding: 1%;
}
@media screen and (min-width: 420px) {
    * {
        width:100%;
        height: fit-content;
        align-items: center;
    }

    #vid {
        width: 140%;

    }
    #everything {
        width: fit-content;
        align-items: center;
        width: 100%;
    }
    body {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 15%;
    }
    #items {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 90%;
        padding-top: 20%;
        width: 130%;

    }
    #title {
        font-size: 200%;
        width: 130%;
        padding: 8%;
    }
    header {
        padding: 5%;
    }
    .nav {
        padding: 5%;
    }
    #ep1 {
        padding: 5%;
    }
    footer {
        margin-top: 30%;
    }



}

#footer2 {
    margin-top: 190%;
}